
<div class="jumbotron text-center">
  <h1>D2G App</h1>
  <p class="lead">Welcome to our open source project for keeping track of your expenses</p>
  <div>
    <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
    <a [routerLink]="['/register']" class="btn btn-default">Register</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Control you Expenses</h3>
    <p>Control your expenses by keeping track on new purchases.</p>
  </div>
  <div class="col-md-4">
    <h3>Spring Boot Backend</h3>
    <p>Java/Spring Boot server using Hibernate to organize models and query the database.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular 2 Frontend</h3>
    <p>Angular 2 framework with third-party libraries to build UI.</p>
  </div>
</div>

